<div class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png"  height="80" alt="">
  </a>
  <ul class="nav nav-pills  text-white">
    <li class="nav-item">
       <a routerLink="/home" routerLinkActive="active" class="nav-link" href="#">Главная</a>
    </li>
    <li class="nav-item ">
        <a routerLink="/music" routerLinkActive="active"  class="nav-link" href="#">Музыка</a>
     </li>
     <li class="nav-item ">
        <a routerLink="/album" routerLinkActive="active" class="nav-link" href="#">Фото</a>
     </li>

     <li class="nav-item">
     </li>

  </ul>
</div>

<router-outlet></router-outlet>
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
    Add
</button>
<div class="container-fluid">
  <div class="row bg-green">
    
  </div>
</div>
