<div class="container show-post">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>ВОВ на территории Беларуси</h1>
    </div>
    <div class="col-md-6 first-post">
      <div href="#" *ngIf="posts" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{posts[0].title}}</h5>
            <small>{{posts[0].date}}</small>
        </div>
        <p class="mb-1" style="height:105px ; overflow: hidden; float: right; width: 50%; padding: 10px">{{posts[0].description}}</p>
        
        <img src={{posts[0].photo}} >
        <div><small style="float:right">Читать далее</small></div>
      </div>
    </div>
    <div class="col-md-6 other-posts">
      <div *ngFor="let post of posts | slice:0+k:5+k; let first = first; "  [ngClass] = "{first:first}"   href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1 description">{{post.description}} </p>     
        <small (click)="OpenPost(post._id)">Читать далее</small>
        <br>
        <button title="Edit" (click)="editPost(post)" class="fas fa-edit" aria-hidden="true">Edit</button>
        <button (click)="setDelete(post)" data-toggle="modal" data-target="#deleteModal" title="Delete" class="fas fa-trash-alt" aria-hidden="true">Delete</button>     
      </div>
      <div class="controllers">
        <button class="prev" (click)="previous()">Назад</button> 
        <button  class="next" (click)="next()">Ещё</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
          <button #closeBtn (click)="unsetDelete()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="deletePost()" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>